
.menu_block {

	float: right;
	position: relative;
	z-index: 999;
	padding-top: 25px;
}

nav>.sf-menu {
	text-align: center;
}
nav{ position:relative;padding: 0px 0 0 0;}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu li {float:left;position:relative; }
.sf-menu>li {
	float: left;
	margin-left: 54px;
}


.sf-menu>li img {
	display: none;
	width: 100%;
	position: absolute;
	height: 86px;
	top: 0;
	left: 0;
	right: 0;
}


.sf-menu>li>ul>li {
  float: none;
  	
}


.sf-menu>li>a{
	color: #fff; 
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px; 
	line-height: 24px;
	position: relative;
}


.sf-menu a{
	font-size: 16px; 
	line-height: 21px; 
	color:#fffefe;
	}